@import '../sass/mixin.scss';

.player-container {
    width: 200px;
    height: 300px;
    background-color: rgb(226, 220, 140);
    position: relative;
    img{
        object-fit: cover;
        width: 200px;
        height: 250px;
        transition: all 0.8s;
        &:hover{
            scale: 0.9;
            cursor: pointer;
        }
    }
    h3 {
        width: 200px;
        height: 50px;
        margin-top: -4px;
        @include flex-row();
    }
    .statistics{
        width: 200px;
        height: 250px;
        text-align: center;
        @include flex-column
    }

}